h1 {
   color : red;
   font-size: 50px;
}

h2 {
    color: green;
    font-size: 30px;
}

p {
    font-size: 25px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
    color: white;
  }
  
  td, th {
    border: 1px solid yellow;
    text-align: center;
    padding: 8px;
  }
  
  /* tr:nth-child(odd) {
    background-color: red;
  }
  
  tr:nth-child(even) {
    background-color: green;
  } */
  